// Place all the styles related to the store/stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
//テーブル名
.table_title{
    padding: 8px 19px;
    margin: 0.2em 0;
    color: #2c2c2f;
    background: #BBBBBB;
    border-top: solid 5px #555555;
    border-bottom: solid 5px #555555;
}
.table_title p {
    margin: 0;
    padding: 0;
}

//地図サイズ
#map{
    height: 200px;
    width: 70%;
}