<div  class="list-user">
  <div class="table_title">
    <p class="row justify-content-center">ユーザー一覧</p>
  </div>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>ユーザー名</th>
        <th>フォロー数</th>
        <th>フォロワー数</th>
        <th>ランキング</th>
      </tr>
    </thead>
    <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_user_path(user.id) do %>
          <%= user.name %>
          <% end %>
        </td>
        <td><%= link_to user.followings.count,user_user_followings_path(user.id) %></td>
        <td><%= link_to user.followers.count,user_user_followers_path(user.id) %></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
