<div class="top-image">
  <div class="top-image-left">
  </div>
  <div class="top-image-right">
    <h4 class="top-text">こちらはみんなで本当に美味しいお店を見つけるための、グルメSNSサイトです</h4>
  </div>
</div>

<div class="container">
  <div class="search">
    <div class="row justify-content-center">
      <h4 class="search_title">検索覧</h4>
    </div >
    <div class="row justify-content-center">
      <%= render 'searchs/form' %>
    </div>
  </div>
</div>

  <div class="list">
    <div class='col-6'>
    <%= render 'user/users/index',users: @users%>
    </div>
    <div class='col-6'>
    <%= render 'store/stores/index',stores: @stores%>
    <div>
  <div>