<div  class="list-store">
  <div class="table_title">
    <p class="row justify-content-center">店舗一覧</p>
  </div>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>店舗名</th>
        <th>総料理評価</th>
        <th>総レビュー数</th>
        <th>ランキング</th>
      </tr>
    </thead>
    <tbody>
    <div class="scroll-list jscroll"> 
      <% stores.each do |store| %>
        <tr>
          <td>
            <%= link_to store_store_path(store.id) do %>
            <%= store.name %>
            <% end %>
          </td>
          <td>平均値</td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      <%= paginate stores %>
    </div>
    </tbody>
  </table>
</div>

