<div class="container">
  <div class="search">
    <div class="row justify-content-center">
      <h4>検索覧</h4>
    </div >
    <div class="row justify-content-center">
      <%= render 'searchs/form' %>
    </div>
  </div>
</div>
<div class="list">
  <div class='col-6'>
  <%= render 'user/users/index',users: @users%>
  </div>
  <div class='col-6'> 
  <%= render 'store/stores/index',stores: @stores%>
  <div>
<div>
