<div class="search">
      
      <%= render 'searchs/form' %>
</div>
<div class="list">
  <div>
  <%= render 'user/users/index',users: @users%>
  </div>
  <div>
  <%= render 'store/stores/index',stores: @stores%>
  <div>
<div>
<div class=" row justify-content-center">
    <div  class-"col-6">
      ページング機能覧
    </div>
  </div>