/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

//サイト背景画像設定
  // background-image: image-url('backgrand-image.jpeg');
  // width: 100%;
  // min-height: 100vh;
  // background-size: cover;
//
.header{
  width: 100vw;
  height: 100px;
  position: relative;
  color: #000000;
}
//ヘッダーブロック
.head{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content:center;
}
//ここからユーザーログイン時
//ヘッダー左側ブロック
.head-left-user{
  width: 30vw;
  height: 100px;
  background-image: image-url('header-left-user.jpeg');
  background-size: cover;
  background-position: 0px 100px;
}

//ヘッダー右側ブロック
.head-right-user{
  width: 70vw;
  height: 100px;
  background-image: image-url('top-image.jpeg');
  background-size: cover;
  background-position: 0px 245px;
  position: relative;
}
//navバー設定
.nav-user {
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 70vw;
  padding: 1vh 0;
}
//リンク項目覧設定
.link-lists-user{
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
margin: 0 30px 0 auto;
}

//サイトタイトル
.main-title-user{
  font-size: 30px;
  background-color: rgba( 255, 255, 255, 0.5);
  position: absolute;
  top: 15px;
  left: 115px;
  border-radius: 5px;
}//サブタイトルブロック
.sub-title-user{
  font-size: 15px;
  background-color: rgba( 255, 255, 255, 0.5);
  position: absolute;
  top: 60px;
  left: 30px;
  border-radius: 5px;
}
//ここまでユーザーログイン時

//ここから店舗ログイン時
//ヘッダー左側ブロック
.head-left-store{
  width: 30vw;
  height: 100px;
  background-image: image-url('header-rigth.jpeg');
  background-size: cover;
  background-position: 0px 110px;
}
//navバー設定
.nav-store{
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 70vw;
  padding: 2vh 0;
}
//リンク項目覧設定
.link-lists-store{
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
margin: 0 30px 0 auto;
}
//ヘッダー右側ブロック
.head-right-store{
  width: 70vw;
  height: 100px;
  background-image: image-url('store-header.jpeg');
  background-size: cover;
  background-position: 0px 260px;
  position: relative;
}

//サイトタイトル
.main-title-store{
  font-size: 30px;
  background-color: rgba( 255, 255, 255, 0.5);
  position: absolute;
  top: 15px;
  left: 115px;
  border-radius: 5px;
}//サブタイトルブロック
.sub-title-store{
  font-size: 15px;
  background-color: rgba( 255, 255, 255, 0.5);
  position: absolute;
  top: 60px;
  left: 30px;
  border-radius: 5px;
}
//ここまで店舗ログイン時

//ここから未ログイン時
//ヘッダー左側ブロック
.head-left{
  width: 50vw;
  height: 100px;
  background-image: image-url('top-image.jpeg');
  background-size: cover;
  background-position: 0px 190px;
}
//navバー設定
.nav-left {
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 50vw;
  padding: 3vh 0;
}
//リンク項目覧設定
.lists-left{
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
}

//ヘッダー右側ブロック
.head-right{
  width: 50vw;
  height: 100px;
  background-image: image-url('header-rigth.jpeg');
  background-size: cover;
  background-position: 0px 135px;
  position: relative;
}
//navバー設定
.nav-right {
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 50vw;
  padding: 3vh 0;
}
//リンク項目覧設定
.lists-right{
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
}

//サイトタイトル
.main-title{
  font-size: 30px;
  background-color: rgba( 255, 255, 255, 0.5);
  position: absolute;
  top: 15px;
  left: -38px;
  border-radius: 5px;
}//サブタイトルブロック
.sub-title{
  font-size: 15px;
  background-color: rgba( 255, 255, 255, 0.5);
  position: absolute;
  top: 60px;
  left: -120px;
  border-radius: 5px;
}
//ここまで未ログイン時

//各navリンク設定
.nav-list{
  background-color: rgba( 255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 0 5px 5px 0;
}

//フッター固定用設定
.body{
  padding-bottom: 60px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #848282;
  position: fixed;//フッター固定用
  bottom: 0;//フッター固定用
}

.footer-text {
  color: #fff;
}

//無限スクロール用
nav.pagination {
  display: none;
}
//無限スクロール用
.scroll-list {
  padding: 0;
}

