// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

//TOP画像
.top-image{
  width: 100%;
  height: 310px;
  display: flex;
  justify-content:center;
  border-top: solid 5px #808080;
  border-bottom: solid 5px #808080;
}

.top-image-left{
  background-image: image-url('top-main.jpeg');
  background-size: cover;
  width: 50vw;
  height: 300px;
  border-left: solid 5px #808080;
  border-right: solid 2.5px #808080;

}
.top-image-right{
  background-image: image-url('top_image_right.jpeg');
  background-size: cover;
  width: 50vw;
  height: 300px;
  position: relative;
  border-left: solid 2.5px #808080;
  border-right: solid 5px #808080;
}

//概要説明文
.top-text{
  background-color: rgba( 255, 255, 255, 0.5);
  position: absolute;
  top: 100px;
  left: -420px;
}
//検索機能
.search{
  width: 100%;
   margin-left: auto;
    margin-right: auto;
}

//検索タイトル
.search_title{
    margin: 10px;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #FF6600;
    border-radius: 3px 0 3px 0;
    background-color: #FF9966;
}
.search_title:before,.search_title:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #FF6600;
    border-radius: 50%;
}
.search_title:after {
    top:-10px;
    left:-10px;
}
.search_title:before {
    bottom: -9px;
    right: -9px;
}

//ユーザー&店舗一覧BOX
.list{
  display: flex;
  justify-content: center;
}
//ユーザー一覧位置設定
.list-user{
  margin: 10px 5px 0px 10px;
  padding: 15px;
}
//店舗一覧位置設定
.list-store{
  margin: 10px 5px 0px 10px;
  padding: 15px;
}

//テーブル名
.table_title{
    padding: 8px 19px;
    margin: 0.2em 0;
    color: #2c2c2f;
    background: #BBBBBB;
    border-top: solid 5px #555555;
    border-bottom: solid 5px #555555;
}
.table_title p {
    margin: 0;
    padding: 0;
}